@import "fonts.css";

:root {
  --dark-blue: #0d2e4d;
  --blue: #164573; /* Primary color; */
  --hover: #2985cc;
  --dusty-blue: #5e7c9a;
  --dusty-blue-light: #93b0cd;
  --dusty-blue-lighter: #bbc8d7;
  --aqua: #4dc4d4; /* Secondary color; */
  --dusty-aqua: #d2dfe0;
  --dusty-aqua-light: #f3f7f7;
  --grey: #e5e5e5;
  --dark-grey: #a2a2a2;
  --status-light-red: #e18c8c;
  --status-red: #f24040; /* Error color; */
  --yellow: #fec315; /* Accent color; */
  --white: #fff;
  --black: #000;

  /* Fonts */
  --font-sans: "Lato", sans-serif;
  --font-serif: "Manus", serif;
}

*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

body,
html {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--blue);
}

.thx_btn {
  color: white;
}

body {
  font-family: var(--font-sans);
  background: var(--white);
  color: var(--blue);
}

.wrapper_header {
  max-width: 800px;
  padding: 0 1rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.wrapper {
  max-width: 1200px;
  padding: 6px 2rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}

span {
  font-weight: 600;
}

/********** CSS til landingpage *************/
.main_landing {
  place-content: center;
  display: grid;
  padding: 2rem;
}

.grid_col {
  background-color: #bbc8d7;
  width: 400px;
  height: 400px;
  margin-bottom: 2rem;
  padding: 2rem;
}

.grid_col2 {
  width: 400px;
  height: 400px;
  margin-bottom: 2rem;
  padding: 2rem;
}

.image_landing {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

/* IPAD & DESKTOP */
@media screen and (min-width: 768px) {
  .main_landing {
    padding: 0px;
    display: flex;
  }

  .grid_col2 {
    display: grid;
    place-content: center;
    width: 500px;
    height: 400px;
  }

  .grid_col {
    width: 500px;
    height: 400px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .potentialWrapper {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
}
