.headline {
  font-size: 5rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem;
}
.content :first-child {
  margin-top: 0;
}
.content :last-child {
  margin-bottom: 0;
}
.formBackground {
  background-color: var(--dusty-blue-lighter);
  box-shadow: 2px 2px 8px 0px;
}
.form {
  padding: 4rem;
  display: grid;
  gap: 1rem;
  /* max-width: 100%; */

  justify-items: center;
}

.label {
  /* margin-bottom: 0.5rem; */
  font-weight: 700;
  display: block;
}

.form input {
  width: 20rem;
  padding: 1rem;
}

.form .textbox {
  padding-bottom: 5rem;
}

.size_zip input {
  display: grid;
}
.size {
  margin-bottom: 1rem;
}

.form button {
  padding: 1rem;
  background: var(--blue);
  color: var(--white);
  border-radius: 3rem;
  width: 10rem;
}
.form button:hover {
  background: var(--hover);
  cursor: pointer;
}

@media (min-width: 640px) {
  .size_zip {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .size_zip input {
    width: 9.5rem;
    margin-bottom: 0;
  }
}
