.headline {
  font-size: 5rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem;
}
.content :first-child {
  margin-top: 0;
}
.content :last-child {
  margin-bottom: 0;
}
.formBackground {
  background-color: var(--dusty-blue-lighter);
  box-shadow: 2px 2px 8px 0px;
  padding: 4rem;
}
.form {
  display: grid;
  gap: 1rem;
  /* max-width: 100%; */
  justify-items: center;
}

.label {
  /* margin-bottom: 0.5rem; */

  display: block;
}

.form input {
  width: 20rem;
  padding: 1rem;
}

.form input:focus + .form.label {
  color: hotpink;
  font-size: 0.5rem;
  top: -25px;
  pointer-events: none;
}

.form .textbox {
  padding-bottom: 5rem;
}

.size_zip input {
  display: grid;
}
.size {
  margin-bottom: 1rem;
}

.form button,
.button {
  padding: 1rem;
  background: var(--blue);
  color: var(--white);
  border-radius: 3rem;
  width: 10rem;
}
.form button:hover,
.button:hover {
  background: var(--hover);
  cursor: pointer;
}

.back_next_buttons {
  display: flex;
  place-content: space-between;
  margin-inline: 30px;
}

.button_back_next {
  background: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
}
.button_back_next:hover {
  cursor: pointer;
  color: black;
}

/* POTENTIAL BUYERS */
.potential_container {
  text-align: center;
}

.potential_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
  place-items: center;
  grid-auto-rows: max-content;
  margin-block: 3rem;
}

.potential_cards {
  width: 20rem;
  background-color: white;
  height: 100%;
}

.potentialWrapper {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}

/* BUYER CARD  */

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card button {
  margin-top: auto;
}

.card div {
  text-align: left;
  padding-inline: 1rem;
}

.card:hover {
  cursor: pointer;
}

.divTakeOver {
  border-bottom: solid;
}
.divEstateInfo {
  margin-bottom: 2rem;
}

.selectButton {
  place-content: center;
  display: flex;
  background-color: #e5e5e5;
}

.selectButton:hover,
.selected {
  background-color: var(--blue);
  color: white;
}

/* styling af dropdown */
.form select {
  width: 20rem;
  padding: 1rem;
  border: 1px solid var(--dusty-aqua);
  background-color: var(--dusty-aqua-light);
  color: var(--black);
}

.form select:focus {
  outline: none;
  border-color: var(--blue);
}

.form textarea {
  width: 20rem;
}

/* styling af checkbox */
.checkbox {
  width: 20rem;
  display: flex;
  gap: 1rem;
}

.checkbox input {
  width: 20px;
  justify-content: start;
  display: grid;
  place-self: start;
}

@media (min-width: 640px) {
  /* YOUR ESTATE */
  .size_zip {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .size_zip input {
    width: 9.5rem;
    margin-bottom: 0;
  }

  /* POTENTIAL BUYERS */

  .potential_container {
    text-align: center;
  }

  /* POTENTIAL BUYERS */

  .potential_container {
    text-align: center;
  }
}
