.headline {
  font-size: 5rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}


.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem;
}
.content :first-child {
  margin-top: 0;
}
.content :last-child {
  margin-bottom: 0;
}
.formBackground {
  background-color: var(--dusty-blue-lighter);
  box-shadow: 2px 2px 8px 0px;
  max-width: 1200px;
  padding: 1px 2rem;
  margin: 0 auto;
}
.form {
  display: grid;
  gap: 1rem;
  /* max-width: 100%; */
  justify-items: center;
  padding: 3rem;
}
.form label {
  display: grid;
}

.form input {
  width: 20rem;
  padding: 1rem;
}

.form .textbox {
  padding-bottom: 5rem;
}

.size_zip input {
  display: grid;
}
.size {
  margin-bottom: 1rem;
}

.form button,
.button {
  padding: 1rem;
  background: var(--blue);
  color: var(--white);
  border-radius: 3rem;
  width: 10rem;
}
.form button:hover,
.button:hover {
  background: var(--hover);
  cursor: pointer;
}

.button_small{
  padding: 0rem !important;
  background: var(--blue);
  color: var(--white);
  border-radius: 2rem;
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-left: 1rem;
  margin-top: 12px;

}

.button_small:hover{
  background: var(--hover);
  cursor: pointer;
}


.back_next {
  background: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  margin-left: 3rem;
  margin-top: 2.5rem;
}
.back_next:hover {
  cursor: pointer;
  color: black;
}

/* POTENTIAL BUYERS */
.potential_container {
  text-align: center;
}

.potential_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
  place-items: center;
  grid-auto-rows: max-content;
  margin-block: 3rem;
}

.potential_cards {
  width: 20rem;
  background-color: white;
  height: 100%;
}

.potentialWrapper {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}

/* BUYER CARD  */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card div {
  text-align: left;
  padding-inline: 1rem;
}

.divTakeOver {
  border-bottom: solid;
}
/* .divEstateInfo {
  margin-bottom: 2rem;
} */
.card button {
  margin-top: auto;
  padding: 1rem;
  cursor: pointer;
  width: 20rem;
}
.selectButton {
  place-content: center;
  display: flex;
  background-color: #e5e5e5;
  color: var(--blue);
}

.selected {
  background-color: var(--hover);
  color: white;
}

/* styling af dropdown */
.form select {
  width: 20rem;
  padding: 1rem;
  border: 1px solid var(--dusty-aqua);
  background-color: var(--dusty-aqua-light);
  color: var(--black);
}

.form select:focus {
  outline: none;
  border-color: var(--blue);
}

.form textarea {
  width: 20rem;
}

/* styling af checkbox */
.checkbox {
  width: 20rem;
  display: flex;
  gap: 1rem;
}

.checkbox input {
  width: 20px;
  justify-content: start;
  display: grid;
  place-self: start;
}


/* DashCard styling  */
.date_delete {
  display: flex;
  place-content: space-between;
  margin-inline: 1rem;
}

.divContacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contactsright {
  display: grid;
}
.contactsLeft {
  display: grid;
}

.contactedCheckBox {
  text-align: left;
  padding-inline-start: 2rem;
  margin-bottom: 1rem;
}

/* THANK YPOU STYLING  */
.thankYouSection {
  padding: 25px;
  margin-top: 0%;
}

.thankYouText {
  text-align: center;
  font-size: 1rem;
}

/*  CONTACT  */
.optinalByers{
  display: flex;
  flex-direction: row;
}

.checkbox {
  display: flex;
  flex-direction: column;
}

.checkbox_square {
  display: flex;
  margin-block:1rem;
}

.checkbox_square input {
  width: 25px;
  justify-content: start;
  display: grid;
  place-self: start;
  margin-inline-end: 1rem;
}

@media (min-width: 640px) {

 /* BACKGROUND BOKSE */
  .formBackground {
    background-color: var(--dusty-blue-lighter);
    box-shadow: 2px 2px 8px 0px;
    padding: 4rem;
    width: 60rem;
    margin: 0 auto;
  }
  .wrapper{
    max-width: 60rem;
  }

  /* "BACK" KNAP I STEPBAR  */
  .back_next {
    background: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
    margin-left: 20rem;
  }
  

  /* YOUR ESTATE */
  .size_zip {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .size_zip input {
    width: 9.5rem;
    margin-bottom: 0;
  }

  
  /* POTENTIAL BUYERS */
  .potentialWrapper {
    max-width: 60rem;
    padding: 0rem;
  }

  .potential_container {
    text-align: center;
  }

  /* THANK YOU  */
  .thankYouSection {
    width: 60rem;
    margin: 0 auto; 
  }
  
  .thankYouText {
    text-align: center;
    font-size: 2rem;
  }

  .button_thankYou {
    text-align: center;
    padding-block: 5%;
  }
  
  

  /* CONTACT SIDE */
.contactForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* kolonnerne */
.contact_left,
.contact_right {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contact_right {
  margin-left: 3rem;
}

.optinalByers{
  display: flex;
  flex-direction: row;
}

.checkbox input {
  width: 20px;
  justify-content: start;
  display: grid;
  place-self: start;
}

.checkbox {
  display: flex;
  flex-direction: column;
}
.checkbox_square {
  display: flex;
}
.checkbox_square input {
  width: 25px;
  justify-content: start;
  display: grid;
  place-self: start;
  margin-inline-end: 1rem;
}

.contact_h2 {
  text-align: center;
}
}
